<!DOCTYPE html>
<html lang="{{ lang || 'en' }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ t('home.title') }}</title>
    <script>window.APP_LOCALE = "{{ lang || 'en' }}";</script>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body>
    @include('partials/header')
    <main>
      <div class="app-container">
        @include('partials/flash_alerts')
        {{{ await $slots.main() }}}
      </div>
    </main>
  </body>
</html>
