@if(flashMessages.has('warning'))
  @alert.root({ variant: 'warning', autoDismiss: true })
    @!alert.description({ text: flashMessages.get('warning') })
  @end
@end
@if(flashMessages.has('error'))
  @alert.root({ variant: 'destructive', autoDismiss: true })
    @!alert.description({ text: flashMessages.get('error') })
  @end
@end
@if(flashMessages.has('success'))
  @alert.root({ variant: 'success', autoDismiss: true })
    @!alert.description({ text: flashMessages.get('success') })
  @end
@end
