# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}
RESEND_API_KEY=re_jm9KWHnJ_JL9X6KH7TYpqa5G68gXN4PxW
MAIL_FROM=
SMS_DELIVERY_WEBHOOK_URL=
SMS_DELIVERY_WEBHOOK_TOKEN=

# Session
SESSION_DRIVER=cookie