@let(descriptionFromSlot = await $slots.main())
@let(description = descriptionFromSlot.trim() ? descriptionFromSlot : $props.get('text'))
@let(classes = [$props.get('class')].filter(Boolean))

<section {{ $props.except(['text']).merge({ class: classes }).toAttrs() }}>
  {{{ description }}}
</section>
