@layout()
  <section class="hero-ad-banner">
    <h2>{{ t('home.hero_title') }}</h2>
    <p>
      {{ t('home.hero_subtitle') }}
    </p>
  </section>

  <div class="card-grid {{ auth.user ? 'card-grid-single' : '' }}">
    @if(!auth.user)
      <div class="card">
        <div>
          <h2 class="card-title">{{ t('home.join_title') }}</h2>
          <p class="card-description">
            {{ t('home.join_desc') }}
          </p>
        </div>
        <div class="action-container">
          @!link({ href: '/signup?role=craftsman', text: t('home.join_btn'), class: 'btn-primary' })
        </div>
      </div>
    @end

    <div class="card">
      <div>
        <h2 class="card-title">{{ t('home.get_service_title') }}</h2>
        <p class="card-description">
          {{ t('home.get_service_desc') }}
        </p>
      </div>
      <div class="action-container">
        @!link({ href: '/categories', text: t('home.get_service_btn'), class: 'btn-primary' })
      </div>
    </div>
  </div>
@end
